<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="criaTurma()">
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Lista de Turmas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list  *ngFor="let turma of data?.items" (click)="showTurmaDetails(turma)">
    <ion-item-divider>
      <ion-item-group>
        <ion-label color="primary">{{turma.name}}</ion-label>
      </ion-item-group>
    </ion-item-divider>
  </ion-list>
  <ion-button (click)="criaTurma()">Criar Turma</ion-button>
</ion-content>
