<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="criaTurma()">
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Lista de Turmas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let turma of data?.items" (click)="showTurmaDetails(turma)">
    <ion-item lines="full" color="primary" text-center>
      <ion-label>
        <strong>{{ turma.name | titlecase }}</strong>
      </ion-label>
    </ion-item>
    <ion-card-content text-center>
      <ion-text>
        {{turma.ementa}}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
