<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="lista-turmas"></ion-back-button>
        </ion-buttons>
        <ion-title style="text-align: center">Detalhar Turmas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
        <ion-card *ngFor="let turma of dataTurma">
                <ion-item lines="full" color="primary" text-center>
                    <ion-label>
                        <strong>{{ turma.name | titlecase }}</strong>
                        <br/>
                        <p>{{turma.teacher.name}} </p>
                    </ion-label>
                </ion-item>
                <ion-card-content text-center>
                    <p>{{turma.ementa}}</p>
                    <p>Data de Início: {{ turma.beginDate | date }}</p>
                    <p>Data de Término: {{turma.endDate | date }}</p>
                </ion-card-content>
        </ion-card>
  <ion-button (click)="editaTurma()">Editar</ion-button>
  <ion-button (click)="presentAlertConfirm()">Excluir</ion-button>
</ion-content>