<ion-content>
  <h4 *ngIf="error">{{error}}</h4>
  <form (ngSubmit)="submit()">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" name="name" class="form-control" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data de Nascimento</ion-label>
      <ion-datetime display-format="MM/DD/YYYY" name="birthDate" class="form-control" [(ngModel)]="birthDate"></ion-datetime>
    </ion-item>
      <ion-item>
          <ion-label position="floating">Currículo</ion-label>
          <ion-textarea class="form-control" name="curriculum" [(ngModel)]="curriculum"></ion-textarea>
      </ion-item>
      <ion-item>
      <ion-label>Status</ion-label>
       <ion-toggle [(ngModel)]="status" (ionChange)="change()"></ion-toggle>
      </ion-item>

    <ion-button type="submit" shape="block" color="primary">Criar Professor</ion-button>
  </form>
</ion-content>
