<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>

        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button (click)="criaProfessor()">
                <ion-icon slot="icon-only" name="person-add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center">Lista de Professores</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
    <div *ngIf="!professors.length" class="null">Você ainda não tem dados</div>
    <ion-card *ngFor="let professor of professors  | search: terms" (click)="showProfessorDetails(professors)">
        <ion-item lines="full" color="primary" text-center>
            <ion-label>
                <strong>{{ professor.name | titlecase }}</strong>
                <br/>
                <small>{{ professor.email }}</small>
            </ion-label>
        </ion-item>
        <ion-card-content text-center>
            <ion-avatar class='avatar' size="large">
                <img [src]="professor.imagem"/>
            </ion-avatar>
            <br/>
            <ion-text>
                Data de Nascimento: {{ professor.birthDate | date }}
            </ion-text>
        </ion-card-content>
        <ion-item lines="full" color="light">
            <ion-button slot="start" size="small" fill="clear" color="dark" disabled="true">
                <ion-icon name="male" *ngIf="professor.gender==='male'"></ion-icon>
                <ion-icon name="female" *ngIf="professor.gender==='female'"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="loadProfessorDataFromDB($event)">
        <ion-infinite-scroll-content loadingText="Carregando..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
