<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>

        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button (click)="criaProfessor()">
                <ion-icon slot="icon-only" name="person-add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center">Lista de Professores</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
    <div *ngIf="!data.items.length" class="null">Você ainda não tem dados</div>
    <ion-card *ngFor="let professor of data.items  | search: terms" (click)="showProfessorDetails(professor)">
        <ion-item lines="full" color="primary" text-center>
            <ion-label>
                <strong>{{ professor.name | titlecase }}</strong>
                <br/>
                <small>{{ professor.email }}</small>
            </ion-label>
        </ion-item>
        <ion-card-content text-center>
            <ion-avatar class='avatar' size="large">
                <img [src]="professor.imagem"/>
            </ion-avatar>
            <br/>
            <ion-text>
                Data de Nascimento: {{ professor.birthDate | date }}
            </ion-text>
        </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Carregando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
