<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>

        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button (click)="criaProfessor()">
                <ion-icon slot="icon-only" name="person-add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center">Lista de Professores</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
  <ion-list  *ngFor="let professor of data?.items | search: terms" (click)="showProfessorDetails(professor)">
    <ion-item-divider>
      <ion-item-group>
        <ion-label color="primary">{{professor.name}}</ion-label>
      </ion-item-group>
    </ion-item-divider>
  </ion-list>

    <h1>---------------------</h1>
    <div *ngIf="!users.length" class="null">Você ainda não tem dados</div>

    <ion-list  *ngFor="let user of users" (click)="showProfessorDetails(user)">
        <ion-item-divider>
            <ion-item-group>
                <ion-label color="primary">{{user.id}} - {{user.name}}</ion-label>
            </ion-item-group>
        </ion-item-divider>
    </ion-list>
</ion-content>
