<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item *ngFor="let i of arr">
        {{ i }}
      </ion-item>
    </ion-list>
  <ion-button (click)="createDbTest()">Create DB</ion-button>
  <ion-button (click)="professores()">Professores</ion-button>
</ion-content>